@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-60%) rotate(90deg);
  }

  to {
    opacity: 1;
    transform: translateY(0) rotate(90deg);
  }
}

html, body {
  height: 100%;
}
body{
  margin: 0;
}
.index-page {
  .container, .swiper-container{
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
  }
  .swiper-button-next{
    display: none
  }
  .swiper-slide{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    img{
      max-width: 100%;
      max-height: 100%;
    }
    &:nth-child(1), &:nth-child(3) {
      background-color: black;
    }
    &:nth-child(2){
      background-color: #eff7fe;
    }
    &:nth-child(4) {
      background-color: #cbd1e6;
    }
    &:nth-child(5), &:nth-child(8) {
      background-color: #e4eafc;
    }
 
    &:nth-child(6){
      background-color: #75001e;
    }
    &:nth-child(7) {
      background-color: #550016;
    }
    &:last-of-type{
      #amap{
        width: 80%;
        display:block;
        margin: 0 auto;
        height: 80%;
      }
      > .wrap{
        width: 100%;
        height: 100%;
      }
      .wrap > a {
        text-decoration: none;
        box-shadow: 5px 5px blue;
        &:hover{
          background:yellow;
          box-shadow: 5px 5px red;
        }
      }
    }
  }
  .button-next{
    display: block;
    position: absolute;
    right: 48%;
    top: unset;
    bottom: 0;
    transform: rotate(90deg);
    animation: fadeInDown 1s infinite;
    animation-fill-mode: both;
    &.swiper-button-disabled{
      animation: none;
      filter: grayscale(.9)
      opacity(.5)
    }
  }
}